<div class="garbage-collection garbage-collection-1">
  <h1 class="mt-5 mb-4 pb-3">Вывоз мусора в Москве</h1>
  <div class="row garbage-collection-row">
    <div class="col garbage-collection-col-left">
      <div class="cover-background garbage-collection-image" style="background-image: url(../images/garbage-collection-image-1.jpg)">
      </div>
    </div>
    <div class="col garbage-collection-col-right">
      <div class="panel panel-default garbage-collection-panel mt-3 mt-md-0 mb-0">
        <div class="panel-heading panel-heading-space"></div>
        <div class="panel-body pt-0">
          {% include "_main/garbage-collection-table-1.html" %}
          <div class="mb-5"></div>
          <div class="garbage-collection-panel-footer px-3 pb-4">
            <div class="row vertical-align">
              <div class="col-xs-12 col-md-5 vertical-align-middle text-center text-md-left">
                <div class="prices mb-4 mb-md-0">
                  <a class="underline" href="">Цены по районам Москвы и&nbsp;области</a>
                </div>
              </div>
              <div class="col-xs-12 col-md-7 vertical-align-middle text-center">
                {% include "shared/phone-box.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
