<div class="garbage-collection garbage-collection-2">
  <div class="garbage-collection-text mb-4">
    <div class="h2 mb-3">Решение проблемы с вывозом мусора</div>
    <p>Для вывоза используются контейнеры объемом 8м<sup>3</sup>. Проведение земляных работ с использованием техники. Штат современной спецтехники обеспечивает качество. В работе учавствует техника различной грузоподъемности. Доставка загрязнений прямиком к месту утилизации.</p>
    <p>Грузники аккуратно разбирают на составляющие элементы. Заказ в пользование любых объемов поставки. Погрузка строительных отходов осуществляется грузчиками. Разбор материалов разных категорий предназначений. Закачик хочет избавиться от ненужных предметов.</p>
    <p>Использование грузовых автомобилей для перевозки предметов. Бытовой техники в проведении работ не используется.</p>
  </div>
  <div class="panel panel-default garbage-collection-panel">
    <div class="panel-heading panel-heading-space"></div>
    <div class="panel-body pt-0">
      {% include "_main/garbage-collection-table-2.html" %}
      <div class="mb-2"></div>
      <div class="garbage-collection-panel-footer px-3 pb-2 pt-1 text-center text-md-left">
        <div class="prices text-uppercase mb-4 pb-2">
          <a class="underline" href="">Цены по районам Москвы и области</a>
        </div>
        {% include "shared/phone-box.html" %}
      </div>
    </div>
  </div>
</div>
