{#
<div class="service-group">
  {% for i in [1,2,3,4,5] -%}
  {% if loop.index <= 5 %}
    {% include "_main/service-item.html" %}
  {% endif %}
  {%- endfor %}
</div>
#}
<div class="service-group" id="feature">
  <div class="service-item vertical-align">
    <div class="service-item-image cover-background" style="background-image: url(../images/3_a.png)"></div>
    <div class="vertical-align-middle">
      <div class="h3 service-item-title mb-0"></div>
      <div class="service-item-hint mt-1"></div>
    </div>
  </div>
  <div class="service-item vertical-align">
    <div class="service-item-image cover-background" style="background-image: url(../images/3_b.png)"></div>
    <div class="vertical-align-middle">
      <div class="h3 service-item-title mb-0"></div>
      <div class="service-item-hint mt-1"></div>
    </div>
  </div>
  <div class="service-item vertical-align">
    <div class="service-item-image cover-background" style="background-image: url(../images/3_c.png)"></div>
    <div class="vertical-align-middle">
      <div class="h3 service-item-title mb-0"></div>
      <div class="service-item-hint mt-1"></div>
    </div>
  </div>
  <div class="service-item vertical-align">
    <div class="service-item-image cover-background" style="background-image: url(../images/3_d.png)"></div>
    <div class="vertical-align-middle">
      <div class="h3 service-item-title mb-0"></div>
      <div class="service-item-hint mt-1"></div>
    </div>
  </div>
  <div class="service-item vertical-align">
    <div class="service-item-image cover-background" style="background-image: url(../images/3_e.png)"></div>
    <div class="vertical-align-middle">
      <div class="h3 service-item-title mb-0"></div>
      <div class="service-item-hint mt-1"></div>
    </div>
  </div>
</div>
